
#mainWord,
#mainWrongWord,
#mainWordsLeft,
#mainWinsCounter{
  font-family: 'Share Tech Mono', monospace;
  font-size: 3em;
}

#gameStartBox{
    width: 980px;
    height: 570px;
    background-size: cover;
    background-image: url(/Users/juliosanchez/Desktop/smuClassWork/wordGuess/assets/images/macbookProHangman.png);
    position: relative;
}

#mainWord{
  position: absolute;
  left: 250px;
  top: 150px;
  z-index: 10;
  font-size: 3rem;
}

#mainWrongWord{
  position: absolute;
  left: 250px;
  top: 270px;
  z-index: 10;
  font-size: 1.5rem;
  width: 500px;
}

#mainWordsLeft{
  position: absolute;
  left: 250px;
  top: 370px;
  z-index: 10;
  font-size: 1.5rem;
  width: 500px;
}

#mainWinsCounter{
  position: absolute;
  left: 250px;
  top: 450px;
  z-index: 10;
  font-size: 3em;
  width: 500px;
}

#startButton{
  position: absolute;
  left: 380px;
  top: 280px;
}

#gameStartText{
    position: absolute;
    font-size: 1.5em;
        left: 380px;
        top: 240px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 40% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: lime; }
  }